@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans';
}

body {
    background: #0b3350;
    color: #ededed;
}
    
.header {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    padding: 20px 10%;
    background-color: #081b29;  
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}

.logo img{
    width: 60px;
    height: auto;
}


/*Before hover*/
.navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

/*change when hovered*/
.navbar a:hover {
    color: #00abf0;
    text-decoration: underline;
}

.title{
    margin-top: 5%;
    width: 100%;
    background: #061c2c67;
    padding: 7%;
}

.title h1{
    font-size: 80px;
    text-align: center;
    letter-spacing: -0.05cm;
}

.exs{
    margin-top: 55px;
    padding-left: 10%;
    padding-right: 10%;
}

.exs h2{
    font-size: 25px;
    text-align: left;
    font-weight: bolder;
}

.exs p{
    text-align: justify;
    margin-bottom: 3%;
    margin-top: 1%;
}

.exs-2 p{
    text-align: justify;
    margin-bottom: 2%;
}

.exs-B h2{
    padding-top: 2%;
    margin-left: 10%;
    font-size: 25px;
    text-align: left;
    font-weight: bolder;
    padding-bottom: 2%;
}

.line-limit{
margin-left: 10%;
margin-right: 9%;
}

.form-fill{
    background-color: #ffffff;
    width: 80%;
    margin-left:10%;
    margin-bottom: 5%;
}

.in-the-form{
    padding: 5%;
}

.bolden{
    font-weight: 450;
    color: #000000;
}

.required{
    color: #000000;
    font-weight: bold;
}
.required:after{
    content:"*";
    color: #ff0000;
}

.button-adjust{
    width: 12em;  height: 2em;
    

}

.home-content .btn-box{
    width: 650px;
    height: 55px;
    display: flex;
    justify-content: space-between;
}

.btn-box a{
    position: relative;
    display: inline-flex;
    padding: 1rem 2.8rem;
    width: 200px;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 10px;
    font-size: 12px;
    color: #00abf0;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 1px;
    transition: .5s;
}

.btn-box a:hover {
    background: #00abf0;
    color: #081b29;
}


/*Footer*/

.footer {   
    bottom: 0%;
    left: 0%;
    width: 100%;
    padding: 20px 10%;
    background-color: #081b29;  
    text-align: center;

}


/*Before hover*/
.navbar-footer a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    transition: .3s;
}

/*change when hovered*/
.navbar-footer a:hover {
    color: #00abf0;
    text-decoration: underline;
}


